<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PlaceHolder</key>
		<string>ProfilePic</string>
		<key>Value</key>
		<string>imageURL</string>
		<key>SerKey</key>
		<string>image</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Restaurant Name</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>6</integer>
		<key>SerKey</key>
		<string>restaurantName</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Bot Name(Only  alphabets are allowed)</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>6</integer>
		<key>SerKey</key>
		<string>botName</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>FaceBook Page Name</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>6</integer>
		<key>SerKey</key>
		<string>pageName</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Email</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>7</integer>
		<key>SerKey</key>
		<string>emailId</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Phone</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>2</integer>
		<key>SerKey</key>
		<string>phone_no</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Street</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>6</integer>
		<key>SerKey</key>
		<string>street_1</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>City/Town</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>6</integer>
		<key>SerKey</key>
		<string>city</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>State</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>6</integer>
		<key>SerKey</key>
		<string>state</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Country</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>6</integer>
		<key>SerKey</key>
		<string>country</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>ZipCode</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>2</integer>
		<key>SerKey</key>
		<string>zipCode</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Mon - Fri : 11:00AM - 10:00 PM</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>0</integer>
		<key>SerKey</key>
		<string>monToFriHours</string>
	</dict>
	<dict>
		<key>PlaceHolder</key>
		<string>Sat - Sun : 11:00AM - 11:50 PM</string>
		<key>Value</key>
		<string></string>
		<key>KeyBoardType</key>
		<integer>0</integer>
		<key>SerKey</key>
		<string>satToSunHours</string>
	</dict>
</array>
</plist>
